@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
*{font-family: ‘Microsoft Yahei‘,Arial;}
a:hover
{
	background-color:yellow;
}

.div-1{position:relative;top:10px;}
.zidian{top:10px;height:200px; position:relative;width:100%;overflow:hidden;}
.zidian2{top:10px;height:200px; position:relative;width:100%;overflow:hidden;}
.wrap{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.A, .B, .C, .D, .E, .F{ 
    width:300px; 
	height:180px;
	background:#BBFFFF; position:absolute;
	text-align:center; }
.A{ top:10px; left:20px;}
.B{ top:10px; left:360px;}
.C{ top:10px; left:700px;}
.D{ top:10px; left:1040px;}
.bstyledancingwolves0{position:relative;top:10px;}
.bstyledancingwolves{top:10px;height:200px; position:relative;width:100%;overflow:hidden;}
.bstyleautomobile0{position:relative;top:10px;}
.bstyleautomobile{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.bsearthwork0{position:relative;top:10px;}
.bsearthwork{top:10px;height:200px; position:relative;width:100%;overflow:hidden;}
.bstylecaigou0{position:relative;top:10px;}
.bstylecaigou{top:10px;height:200px; position:relative;width:100%;overflow:hidden;}
.lss0{position:relative;top:10px;}
.lss{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.fmcg0{position:relative;top:10px;}
.fmcg{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.dimp0{position:relative;top:10px;}
.dimp{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.ec0{position:relative;top:10px;}
.ec{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.fresh0{position:relative;top:10px;}
.fresh{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
.zfbstyle0{position:relative;top:10px;}
.zfbstyle{top:10px;height:200px;  position:relative;width:100%;overflow:hidden;}
a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}
a:active  {color:yellow;}
.sliderbox{width:988px;height:200px;overflow:hidden;padding:50px 0 0 0;margin:20px auto;}
.arrow-btn{margin:35px 0 0 0;display:inline;background:url(../images/arrow-btn.png) no-repeat;width:26px;height:124px;overflow:hidden;cursor:pointer;}
#btn-left{float:left;margin-left:12px;background-position:0 0;}
#btn-left.dasabled{background-position:0 -124px;}
#btn-right{float:right;margin-right:6px;cursor:pointer;background-position:-26px 0;}
#btn-right.dasabled{background-position:-26px -124px;}
.slider{width:900px;overflow:hidden;position:relative;height:166px;float:left;}
.slider ul{position:absolute;left:0px;top:32px;width:1800px;height:140px;list-style:none;}
.slider li{float:left;width:150px;height:140px;}
.slider a{display:block;text-decoration:none;color:#073a5e;font-size:12px;font-weight:bold;text-align:center;margin-top:24px;}
.slider img{width:90px;display:inline-block!important;}